@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@700&family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Foldit', cursive;
  font-family: 'Roboto Condensed', sans-serif;
}